params {
    dataDir = "${PWD}/data"
    // Model to use during taxonomy classification
    // More pre-trained models at https://docs.qiime2.org/2019.7/data-resources/
    classifier = "https://data.qiime2.org/2019.7/common/gg-13-8-99-515-806-nb-classifier.qza"
    prefix = ""                 // project prefix to prepend to output files
    outdir = "out"              // output directory
    // Parameters required by QIIME2
    truncF = null
    truncR = null
    samplingDepth = null
    // Extra QIIME2 parameters
    demuxExtra = ""
    demuxSumExtra = ""
    denoiseExtra = ""
    phylogenyExtra = ""
    taxonomyClassificationExtra = ""
    visualizeDenoiseStatsExtra = ""
    visualizeTaxonomyExtra = ""
}

manifest {
    homePage = 'https://github.com/Liulab/ubiome'
    author = 'Ha Le, Jake Carlson'
    description = 'Microbiome analysis workflow with QIIME2'
    version = '0.1'
    nextflowVersion = '>=19.07.0'
}


profiles {
    standard {
        process.conda = "${baseDir}/environment.yml"
    }
    docker {
        process.container = 'haqle/qiime2-nextflow:2019.7'
        docker.enabled = true
    }
    singularity {
        process.container = 'haqle/qiime2-nextflow:2019.7'
        singularity.enabled = true
    }
    slurm {
        process.executor = 'slurm'
        process.memory = '4GB'
        process.time = '12h'
        process.scratch = true
    }
}
